<html>
  <head>
    <title>{{ title }} : {{ selection }}</title>
    <link rel="stylesheet" href="styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section class="layout">
      <h1 class="layout__item">Order Confirmation:</h1>

      <p class="layout__item">Here is an overview of your order, please confirm before proceeding.</p>
    </section>
    <main>
<section>
  <div class="products">
    <!-- list all products from local storage here -->
  </div>
</section>
    </main>
    <!--http://stackoverflow.com/questions/8567114/how-to-make-an-ajax-call-without-jquery  -->
    <!-- courtesy of @Petah -->
    <!-- Small Ajax Snippet -->
    <script>
    var ajax = {};
        ajax.x = function() {
          if (typeof XMLHttpRequest !== 'undefined') {
              return new XMLHttpRequest();
          }
          var versions = [
              "MSXML2.XmlHttp.6.0",
              "MSXML2.XmlHttp.5.0",
              "MSXML2.XmlHttp.4.0",
              "MSXML2.XmlHttp.3.0",
              "MSXML2.XmlHttp.2.0",
              "Microsoft.XmlHttp"
          ];

          var xhr;
          for(var i = 0; i < versions.length; i++) {
              try {
                  xhr = new ActiveXObject(versions[i]);
                  break;
              } catch (e) {
              }
          }
          return xhr;
        };

        ajax.send = function(url, callback, method, data, sync) {
          var x = ajax.x();
          x.open(method, url, sync);
          x.onreadystatechange = function() {
              if (x.readyState == 4) {
                  callback(x.responseText)
              }
          };
          if (method == 'POST') {
              x.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          }
          x.send(data)
        };

        ajax.get = function(url, data, callback, sync) {
          var query = [];
          for (var key in data) {
              query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
          }
          ajax.send(url + (query.length ? '?' + query.join('&') : ''), callback, 'GET', null, sync)
        };

        ajax.post = function(url, data, callback, sync) {
          var query = [];
          for (var key in data) {
              query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
          }
          ajax.send(url, callback, 'POST', query.join('&'), sync)
        };
    </script>
    <!-- End of snippet -->
    <script src="scripts/bundle.js"></script>
  </body>
</html>
