// inuit base
@import '../node_modules/inuit-starter-kit/node_modules/inuit-box-sizing/_generic.box-sizing.scss';
@import '../node_modules/inuit-starter-kit/node_modules/inuit-defaults/_settings.defaults.scss';
@import '../node_modules/inuit-starter-kit/node_modules/inuit-functions/_tools.functions.scss';
@import '../node_modules/inuit-starter-kit/node_modules/inuit-mixins/_tools.mixins.scss';
@import '../node_modules/inuit-starter-kit/node_modules/inuit-normalize/_generic.normalize.scss';
@import '../node_modules/inuit-starter-kit/node_modules/inuit-page/_base.page.scss';
// variables
// colours
@import 'base/_trumps.colours.scss';
// responsive
@import '../node_modules/inuit-responsive-settings/_settings.responsive.scss';
@import '../node_modules/inuit-tools-widths/_tools.widths.scss';
@import '../node_modules/inuit-responsive-tools/_tools.responsive.scss';
// layout
$inuit-enable-layout--tiny:     true;
$inuit-enable-layout--small:    true;
$inuit-enable-layout--large:    true;
$inuit-enable-layout--huge:     true;
$inuit-enable-layout--flush:    true;
$inuit-enable-layout--rev:      true;
$inuit-enable-layout--middle:   true;
$inuit-enable-layout--bottom:   true;
$inuit-enable-layout--right:    true;
$inuit-enable-layout--center:   true;
$inuit-enable-layout--auto:     true;
@import '../node_modules/inuit-layout/_objects.layout.scss';
@import 'layout/_trumps.layout.scss';
@import 'layout/menus.scss';
// widths
@import '../node_modules/inuit-responsive-widths/_trumps.widths-responsive.scss';
// fonts
@import 'fonts/_trumps.font.scss';
// theme
@import 'base/theme.scss';
